@media only screen and (max-width: 1000px) {
    .toggle-menu{
        display: block !important;
    }
    .padd{
        padding: 0 .5rem;
    }
    .sidebar{
        width: 0;
        display: none;
        transition: 1s !important;
    }
    .contact-detail{
        min-width: 100% !important;
        margin-bottom: 1.5rem;
    }
    .serv-gallery{
        grid-template-columns: repeat(auto-fit, minmax(250px,1fr)) !important;
    }
    .subscription{
        grid-template-columns: repeat(auto-fit, minmax(250px,1fr)) !important;
    }
    .user-img, .input-userimg{
        width: 15vw !important;
        height: 15vw !important;
    }
    .contact-detail,
    .contact-form{
        width: 100% !important;
    }
}
