@media only screen and (max-width : 1000px) {
    .toggle-menu{
        display: block !important;
    }
    .padd{
        padding: 0 .5rem;
    }

    .sidebar{
        width: 0;
        display: none;
        transition: 1s !important;
    }
    .contact-detail{
        min-width: 100% !important;
        margin-bottom: 1.5rem;
    }

    .contact-form{
        width: 100% !important;
    }
    .contact-form textarea{
        width: 100%;
    }
}